@using kgtwebClient.Models
@model kgtwebClient.Models.DogsList


@{
    ViewBag.Title = "Home Page";
}


@*<div class="jumbotron"> *@
<div class="tables">
    <input type="text" id="dogsSearch" onkeyup="searchEmployeeByLastName()" placeholder="Search for names.." title="Type in a name">
    @*<button id="button1" onclick="location.href='@Url.Action("DeleteDog","Dogs",new { id=7})'">delete</button>*@
    <div>
        <table id="dogsTable">
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Data urodzenia</th>
                <th>Poziom</th>
                <th>Tryb pracy</th>
                <th>Notatki</th>
                <th>Przewodnik</th>


            </tr>
            @foreach (var item in Model.ListOfDogs)

            {
            <tr>
                <td>
                    @item.DogID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.DateOfBirth
                </td>
                <td>
                    @item.Level
                </td>
                <td>
                    @item.Workmode
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    @item.Guide
                </td>
                <td style="background-color:white">
                    <button class="deleteButton" onclick="location.href='@Url.Action("DeleteDog", "Dogs", new { id = @item.DogID })'">delete</button>
                </td>
                <td style="background-color:white">
                    <button class="updateButton" onclick="location.href='@Url.Action("UpdateDog", "Dogs", new { id = @item.DogID })'">update</button>
                </td>
            </tr>

            }

        </table>
    </div>
</div>
<script>
    function searchEmployeeByLastName() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("dogsSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("dogsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
             /* search by employee's last name*/
            tdLastName = tr[i].getElementsByTagName("td")[1];  
            /* search by employee's first name*/
            tdFirstName = tr[i].getElementsByTagName("td")[2]; 
            if (tdLastName || tdFirstName) {
                if (tdLastName.innerHTML.toUpperCase().indexOf(filter) > -1 || tdFirstName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

@*
    </div>

*@